<div>
    <p><strong>Name: </strong> {{name}}</p>
    <p><strong>Email: </strong> {{email}}</p>
    <p><strong>Address: </strong> {{address.no}}, {{address.building}}</p>
    <p>{{address.street}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{address.town}} - {{address.pincode}}</p>
    <p>{{address.district}}</p>
    <p>{{address.state}}</p>
    <p>{{address.country}}</p>
    <p>{{address.Continent}}</p>
    <button (click) = 'toogleHobbies()'>{{showHobbies ? 'Hide Hobbies' : 'Show Hobbies'}}</button>
    <div *ngIf = 'showHobbies'>
    <h3>Hobbies: </h3>
    <ul>
      <li *ngFor = 'let hobby of hobbies'>
        {{hobby}}
      </li>
    </ul>
    </div>
</div>